/* 
* styles organization
1. position
2. box model
3. Typography
4. Visuals
5. Others 
*/

//================ Abstracs ================

@import 'abstracts/variables';

//================ Abstracs End ================


//================ Normalize ================
*, *::after, *::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: $font-family-body;
    font-size: 62.5%;
    font-weight: $font-normal;
    color: $color-black;
    //scroll-behavior: smooth;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}

//================ Normalize end ================

//================ Styles ================
body {
    font-size: $font-size-md;
    overflow-x: hidden;
}

.root-container {
    position: relative;
    background-color: $color-primary-dark;
}

.section-banner{
    position: relative;
}
.banner-parallax {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;

    &__item {
        width: 100%;
        height: 100%;
        & img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%); 
            width: 110%;
        }
    }
    &__item--bg {
        z-index: 1;
    }

    &__item--clouds {
        z-index: 2;
        & img {
            width: 110%;
            height: 100%;
        }
    }

    &__item--sun {
        z-index: 3;
    }

    &__item--mountains {
        z-index: 4;
    }

    &__item--floor-back {
        z-index: 5;
    }

    &__item--floor-front{
        z-index: 6;
        
    }

    &__item--sun-light-1{
        z-index: 6;
        position: absolute;
        top: -300%;
        & img {
            top: -40%;
            left: 58%;
            width: 70%;
        }
        mix-blend-mode: screen;
    }

    &__item--puppy{
        z-index: 7;      
    }

    &__item--turtle{
        z-index: 7;   
    }

    &__item--terry{
        z-index: 7;   
    }

    &__item--broken-towers{
        z-index: 8;
    }

    &__item--rocks{
        z-index: 9;
    }

    &__item--splashes{
        z-index: 10;
    }

    &__item--sun-light-2{
        z-index: 12;
        position: absolute;
        opacity: 0;
        & img {
            top: -92%;
            left: 65%;
            width: 140%;
        }
        mix-blend-mode: screen;
    }
}

.button-start {
    position: absolute;
    top: 65%;
    left: 5%;
    width: 16.8rem;
    height: 6rem;
    color: $color-secondary-2-very-light;
    font: {
        weight: 700;
        size: $font-size-3xl;
    }
    background: {
        image: url('../svgs/button-primary-blue.svg');
        repeat: no-repeat;
        size: 100%;
    }
}

.ground-transition{
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -14%);
    width: 100%;
    height: 100%;
}

.section-description {
    position: relative;
    color: $color-on-primary;
    background-color: $color-primary-dark;
    padding: 4rem 0;

    &__content {
        display: grid;
        place-content: center;
        width: 90%;
        max-width: 100rem;
        margin: 0 auto;
        padding: 15%;
        border-radius: $rounded-md;
        background: {
            image: url('../svgs/brush-shape.svg');
            repeat: no-repeat;
            position: center;
            size: 100%;
        };
    }

    &__subtitle {
        margin-bottom: $spacing-6;
        color: $color-secondary-1;
        line-height: $line-height-lg;
        font: {
            family: $font-family-subtitle;
            weight: $font-bold;
            size: $font-size-4xl;
        }
    }

    &__body {
        display: grid;
        gap: $spacing-3;
        margin-bottom: $spacing-6;
    }

    &__text-body {
        color: $color-secondary-1-light;
        line-height: $font-size-xl;
        font: {
            family: $font-family-body;
            weight: $font-light;
            size: 100%;
        }
    }
    &__text-body--bold {
        font-weight: 700;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 28rem;

    background: {
        image: url('../svgs/footer-background.svg');
        repeat: no-repeat;
        size: 100%;
        position: center top;
    }

    &__content {
        position: absolute;
        bottom: 10%;
        display: flex;
        gap: $spacing-4;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        max-width: 60rem;
        color: $color-secondary-3-light;
        font: {
            weight: $font-light;
            size: $font-size-sm;
        }
    }

    &__middle-content {
        line-height: $font-size-xl;
        margin-right: $spacing-6;
        color: $color-on-background;
    }
    &__networks {
        display: flex;
        color: $color-secondary-3-light;
    }

    &__right-content {
        cursor: pointer;
        transition: all ease-in-out 120ms;
        &:hover {
            color: $color-on-background;
        }
    } 

    &__icon {
        display: grid;
        place-items: center;
        width: 4.8rem;
        height: 4.8rem;
        font-size: $font-size-2xl;
        cursor: pointer;
        transition: all ease-in-out 120ms;
        &:hover {
            color: $color-on-background;
        }
    }  
}

.modal-container{
    position: absolute;
    top: 0;
    z-index: 1000;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    backdrop-filter: blur(2px);
    opacity: 0;
}
.modal {
    position: relative;
    z-index: 1001;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    max-width: 59.38rem;
    max-height: 61.9rem;
    transform: scale(0);

    &__element {
        position: absolute;
    }
    &__element--light {
        mix-blend-mode: screen;
    }
    &__element--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 68%;
        height: 65%;
        padding: $spacing-3 $spacing-8;
    }
    &__level-lines-container {
        display: flex;
        justify-content: center;
        gap: $spacing-3;
        padding: $spacing-4 $spacing-7;
        
    }
    &__level-line{
        width: 0.4rem;
        height: 2.6rem;
        background-color: $color-secondary-1;
        border-radius: $rounded-lg;
    }

    &__description {
        margin-bottom: $spacing-8;
        color: $color-on-background;
        text-align: center;
        line-height: $line-height-sm;
        font: {
            family: $font-family-body;
            weight: $font-normal;
            size: $font-size-md;
        }
    }
    
    &__level-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 6.4rem;
        background: {
            image: url('../svgs/modal-1/shape-level-wrapper.svg');
            size: 100%;
            repeat: no-repeat;
        };
    }

    &__level-text {
        color: $color-secondary-2-light;
        text-transform: uppercase;
        font-weight: $font-bold;
    }

    &__level-text--value {
        color: $color-secondary-1;
    }

    &__level-selector {
        display: grid;
        place-items: center;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: $rounded-full;
        background-color: transparent;
        color: $color-secondary-2-light;
        transition: all ease-in-out 150ms;
        cursor: pointer;

        &:hover {
            color: $color-secondary-1;
            background-color: rgba($color-secondary-2-dark, 0.6);
        }
    }

    &__level-selector--left {
        transform: rotate(180deg);
    }

    &__button-ok {
        width: 8rem;
        height: 8rem;
        border-radius: $rounded-full;
    }
}

.button-ok {
    align-self: center;
    position: relative;
    display: grid;
    place-items: center;
    width: 8rem;
    height: 8rem;
    margin-top: $spacing-8;

    &__element {
        position: absolute;
    }

    &__element--inner {
        display: grid;
        place-items: center;
        width: 60%;
        height: 60%;
        color: $color-secondary-2-light;
        font: {
            weight: $font-bold;
        }
        background-color: $color-secondary-4;
        border-radius: $rounded-full;
        opacity: 1;
        transition: all ease-in-out 150ms;

        &:hover {
            background-color: $color-secondary-1-dark;
        }
    }
}

//================ Styles end================